<?xml version="1.0" encoding="utf-8" ?>



<Menu>
	<Opciones>
		<Opcion Url="/Default.aspx?Id=0" Texto="Home" Id="0"></Opcion>
		<Opcion Url="/Default.aspx?Id=1" Texto="Generos" Id="1"></Opcion>
		<Opcion Url="/Default.aspx?Id=2" Texto="Contacto" Id="2"></Opcion>
		<Opcion Url="/Default.aspx?Id=3" Texto="Reseñas" Id="3"></Opcion>
	</Opciones>
	<Platillos>
		<Tipo Nombre="Novelas">
			<Platillo Nombre="Don Quijote de la mancha" Orden="1">
				<Descripcion><![CDATA[ Don Quijote de la Mancha​ es una novela escrita por el español Miguel de Cervantes Saavedra. Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, es la obra más destacada de la literatura española y una de las principales de la literatura universal]]></Descripcion>
				<Precio>
					4.0 ✮ 
				</Precio>
				<Imagen>/img/Novela1_donquijote.jpg</Imagen>
			</Platillo>
			
			<Platillo Nombre="Cien años de soledad" Orden="2">
				<Descripcion><![CDATA[ Cien años de soledad es una novela del escritor colombiano ganador del Premio Nobel de Literatura Gabriel García Márquez. Es opinión general que se trata de una obra maestra de la literatura hispanoamericana y universal, y es una de las obras más traducidas y leídas en español.​]]></Descripcion>
				<Precio>
					4.7 ✮
				</Precio>
				<Imagen>/img/Novela2_amorentimepos.jpg</Imagen>
			</Platillo>
			<Platillo Nombre="Un mundo feliz" Orden="3">
				<Descripcion><![CDATA[ Un mundo feliz es la novela más famosa del escritor británico Aldous Huxley, publicada por primera vez en 1932. La novela es una distopía que anticipa el desarrollo en tecnología reproductiva, cultivos humanos, hipnopedia y manejo de las emociones por medio de drogas que, combinadas, cambian radicalmente la sociedad.]]></Descripcion>
				<Precio>
					4.5 ✮
				</Precio>
				<Imagen>/IMG/Novela3_mundo.jpg</Imagen>
			</Platillo>
			<Platillo Nombre="1984" Orden="4">
				<Descripcion><![CDATA[ 1984 es una novela política de ficción distópica, escrita por George Orwell entre 1947 y 1948 y publicada el 8 de junio de 1949.]]></Descripcion>
				<Precio>
					4.7 ✮
				</Precio>
				<Imagen>/IMG/Novela4_1984.jpg</Imagen>
			</Platillo>
			
			
		</Tipo>
		<Tipo Nombre="Cuentos">
			<Platillo Nombre="Cuentos de terror" Orden="1">
				<Descripcion><![CDATA[ Edgar Allan Poe es el maestro del cuento de terror gótico y psicológico, famoso por obras como "El corazón delator," "El gato negro," "La caída de la casa Usher," "El pozo y el péndulo," "El barril de amontillado," "Ligeia" y "La máscara de la muerte roja," que exploran la locura, la muerte, la culpa y lo sobrenatural, dejando un legado de terror profundo y atmosférico. ]]></Descripcion>
				<Precio>
					3.9 ✮
				</Precio>
				<Imagen>/IMG/5.jpg</Imagen>
			</Platillo>
			<Platillo Nombre="Cuentos completos" Orden="2">
				<Descripcion><![CDATA[ Julio Verne]]></Descripcion>
				<Precio>
					4.5 ✮
				</Precio>
				<Imagen>/IMG/6.jpg</Imagen>
			</Platillo>
			<Platillo Nombre="Los mas bellos cuentos" Orden="3">
				<Descripcion><![CDATA[ Arturo Jimenez]]></Descripcion>
				<Precio>
					3.2 ✮
				</Precio>
				<Imagen>/IMG/7.jpg</Imagen>
			</Platillo>
			
		</Tipo>
		<Tipo Nombre="Poesia">
			
			
			<Platillo Nombre="Poemas de amor" Orden="1">
				<Descripcion><![CDATA[ Es una de las célebres obras del poeta chileno Pablo Neruda. Publicado en junio de 1924, de la mano de la editorial nascimento, el poemario lanzó a su autor a la fama con apenas 19 años de edad, y es una de las obras literarias de mayor renombre del siglo XX en el idioma español. Realmente un titulo qeu merece la pena dar una oportunidad de ser leido.]]></Descripcion>
				<Precio>
					5 ✮
				</Precio>
				<Imagen>/IMG/10.png</Imagen>
			</Platillo>

			<Platillo Nombre="Palabra de amor" Orden="2">
				<Descripcion><![CDATA[ Arturo Díaz]]></Descripcion>
				<Precio>
					4.4 ✮
				</Precio>
				<Imagen>/IMG/9.jpg</Imagen>
			</Platillo>
			<Platillo Nombre="Poemas" Orden="3">
				<Descripcion><![CDATA[Ruben Dario]]></Descripcion>
				<Precio>
					4.7 ✮
				</Precio>
				<Imagen>/IMG/11.png</Imagen>
			</Platillo>
			
		</Tipo>
		
	</Platillos>
	<Datos>
		<NombreRestaurant>BIBLIOTECA             "UN MUNDO FELIZ"</NombreRestaurant>
		<Descripcion>En biblioteca "un mundo feliz" podras disfrutar de diferentes generos aptos para todo el publico en general, asi como titulos clasicos y de renombre.</Descripcion>
		<Direccion>Autop. México - Puebla 1920, San Jerónimo Caleras, 72100 Heroica Puebla de Zaragoza, Pue., Mexico</Direccion>
		<Telefono>222-324-56-65</Telefono>
		<Imagen>/img/fachada.jpeg</Imagen>
		<Ubicacion></Ubicacion>
	</Datos>
</Menu>